<!DOCTYPE html>
<html>
<head>
<title>Бар - Группы</title>
<style>
body {
  font-family: sans-serif;
}
nav {
  background-color: #333;
  color: white;
  padding: 10px;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav li {
  display: inline;
  margin-right: 20px;
}
nav a {
  color: white;
  text-decoration: none;
}
section {
  padding: 20px;
}
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}
</style>
</head>
<body>
    <nav>
        <ul>
          {% if role_id != 2 %}
            <li><a href="/users" id="users-tab">Пользователи</a></li>
            <li><a href="/groups" id="groups-tab" class="active">Группы</a></li>
          {% endif %}
          <li><a href="/homepage" id="configs-tab" >Конфиги</a></li>
        </ul>
      </nav>
    
      <section id="groups-content">
        <h2>Группы</h2>
        <!-- Здесь будет контент для групп -->
        <p>Информация о группах </p>
      </section>
    <h1>Таблица Групп</h1>

    <table>
    <tr>
        <th>ID Группы</th>
        <th>Название Группы</th>
        <th>ID пользователя</th>
    </tr>
    {% for group in groups %}
        {% for member in memberships.users_group %}
            {% for user in users %}
                {% if (user['user_id'] == member[0] and user['role_id'] != 1 and group.group_id == member[1]) %}
                    <tr>
                    <td>{{ group.group_id }}</td>
                    <td>{{ group.group_name }}</td>
                    <td>{{ member[0] }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% endfor %}
    </table>
    <script>
  // Активная вкладка по умолчанию
  const tabs = document.querySelectorAll('nav a');
    const contents = document.querySelectorAll('section');

    tabs.forEach(tab => {
        tab.addEventListener('click', (event) => {
            // Удаляем активный класс со всех вкладок
            tabs.forEach(t => t.classList.remove('active'));
            tab.classList.add('active');
            
            // Если вкладка не активна (для конфигураций и групп), переходим по ссылке
            if (!tab.classList.contains('active')) {
                return; // переход по ссылке
            }
            // Если вкладка "Пользователи", показываем контент
            contents.forEach(content => content.classList.add('hidden'));
            document.getElementById(tab.id.replace('-tab', '-content')).classList.remove('hidden');
            event.preventDefault(); // предотвратить стандартное поведение, если нужно
        });
    });
      
      </script>

</body>
</html>