<!DOCTYPE html>
<html>
<head>
<title>Бар - Группы</title>
<style>
body {
  font-family: sans-serif;
}
nav {
  background-color: #333;
  color: white;
  padding: 10px;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav li {
  display: inline;
  margin-right: 20px;
}
nav a {
  color: white;
  text-decoration: none;
}
section {
  padding: 20px;
}
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}
</style>
</head>
<body>
    <nav>
        <ul>
          {% if role_id != 2 %}
            <li><a href="/users" id="users-tab">Пользователи</a></li>
          {% endif %}
          <li><a href="/homepage" id="configs-tab" >Конфиги</a></li>
          <li><a href="/groups" id="groups-tab" class="active"      >Группы</a></li>
        </ul>
      </nav>
    
      <section id="groups-content">
        <h2>Группы</h2>
        <!-- Здесь будет контент для групп -->
        <p>Информация о группах пользователей.</p>
      </section>

    <h1>Таблица Групп</h1>

    <table>
    <tr>
        <th>ID Группы</th>
        <th>Название Группы</th>
    </tr>
    {% for group in groups %}
        <tr>
        <td>{{ group.group_id }}</td>
        <td>{{ group.group_name }}</td>
        </tr>
    {% endfor %}
    </table>
    <script>
  
        const usersContent = document.getElementById('users-content');
        const usersTab = document.getElementById('users-tab');
      
        if (userId === null || userId === undefined || userId === 0) { // Если пользователь не авторизован
          usersTab.style.display = 'none';
        } else {
          usersTab.addEventListener('click', (event) => {
            event.preventDefault();
            usersContent.classList.remove('hidden');
            // ... дополнительная логика для загрузки контента пользователей через AJAX
          });
        }
      
      
        // Активная вкладка по умолчанию
        const tabs = document.querySelectorAll('nav a');
        const contents = document.querySelectorAll('section');
      
        tabs.forEach(tab => {
          tab.addEventListener('click', (event) => {
            event.preventDefault();
            tabs.forEach(t => t.classList.remove('active'));
            tab.classList.add('active');
            contents.forEach(content => content.classList.add('hidden'));
            document.getElementById(tab.id.replace('-tab', '-content')).classList.remove('hidden');
          });
        });
      
      </script>

</body>
</html>