<!DOCTYPE html>
<html>
<head>
<title>Бар - Конфиги</title>
<style>
body {
  font-family: sans-serif;
}
nav {
  background-color: #333;
  color: white;
  padding: 10px;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav li {
  display: inline;
  margin-right: 20px;
}
nav a {
  color: white;
  text-decoration: none;
}
section {
  padding: 20px;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
th {
  background-color: #f2f2f2;
}
form {
    margin-top: 20px;
}
input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
</style>
</head>
<body>
  
    <nav>
      <ul>
        {% if role_id != 2 %}
          <li><a href="/users" id="users-tab">Пользователи</a></li>
          <li><a href="/groups" id="groups-tab">Группы</a></li>
        {% endif %}
        <li><a href="/homepage" id="configs-tab" class="active">Конфиги</a></li>
      </ul>
    </nav>
  
    <section id="configs-content">
      <h1>Конфиги</h1>
    </section>
    {% if role_id == 1 %}
        <form id="add-config-form" action="{{url_for('home_page')}}" method="POST">
            <input type="submit" value="Добавить конфиг"><br>
            <label for="group_id">ID группы</label><br>
            <input type="number" name="group_id" required><br>  
            <label for="host_user_id">ID пользователя</label><br>
            <input type="number" name="host_user_id" required><br> 
            <label for="site_name">Имя сайта</label><br>
            <input type="text" name="site_name" required><br> 
            <label for="url">url</label><br>
            <input type="text" name="url" required><br> 
            <label for="access_token">токен доступа</label><br>
            <input type="text" name="access_token" required><br> 
        </form>
        <form id="delete-config-form" action="{{url_for('home_page')}}" method="DELETE">
            <input type="submit" value="Удалить конфиг"><br>
            <label for="config_id">ID конфига</label><br>
            <input type="number" name="config_id" required><br>  
        </form>
        <form id="update-config-form" action="{{url_for('home_page')}}" method="PUT">
            <input type="submit" value="Изменить конфиг"><br>
            <label for="config_id">ID конфига</label><br>
            <input type="number" name="config_id" required><br>  
            <label for="group_id">ID группы</label><br>
            <input type="number" name="group_id" required><br>  
            <label for="host_user_id">ID пользователя</label><br>
            <input type="number" name="host_user_id" required><br> 
            <label for="site_name">Имя сайта</label><br>
            <input type="text" name="site_name" required><br> 
            <label for="url">url</label><br>
            <input type="text" name="url" required><br> 
            <label for="access_token">токен доступа</label><br>
            <input type="text" name="access_token" required><br> 
        </form>
    {% endif %}

    <h2>Таблица Конфигов</h2>

    <table>
    {% if role_id == 1 %}
        <tr>
            <th>ID Конфига</th>
            <th>ID Пользователя</th>
            <th>сайт</th>
            <th>url сайта</th>
            <th>клиент</th>
            <th>группа</th>
            <th>Кол-во запросов по дням</th>
            <th></th>
        </tr>
            {% for config in configs %}
                <tr>
                <td>{{ config[0] }}</td>
                <td>{{ config[1] }}</td>
                <td>{{ config[2] }}</td>
                <td>{{ config[3] }}</td>
                <td>{{ config[4]}}</td>
                <td>{{ config[5] }}</td>
                <td>{{ config[6] }}</td>
                <td> <a href="/homepage/{{config[0]}}" id="config -tab">перейти</a> </td>
                </tr>
            {% endfor %}
    {% endif %}
    {% if role_id == 2 %}
        <tr>
            <th>ID Конфига</th>
            <th>сайт</th>
            <th>url сайта</th>
            <th>клиент</th>
            <th>группа</th>
            <th>Кол-во запросов по дням</th>
            <th></th>
        </tr>
            {% for config in configs %}
                {% if config[1] == user_id %}
                    <tr>
                    <td>{{ config[0] }}</td>
                    <td>{{ config[2] }}</td>
                    <td>{{ config[3] }}</td>
                    <td>{{ config[4] }}</td>
                    <td>{{ config[5] }}</td>
                    <td>{{ config[6] }}</td>
                    <td> <a href="/homepage/{{config[0]}}" id="config -tab">перейти</a> </td>
                    </tr>
                {% endif %}
            {% endfor %}
    {% endif %}
    </table>

<script>
// Активная вкладка по умолчанию
  const addConfigForm = document.getElementById('add-config-form');
  const deleteConfigForm = document.getElementById('delete-config-form');
  const updateConfigForm = document.getElementById('update-config-form');
  const apiUrl = 'http://192.168.56.1:5000/homepage'; // Define API URL once

  function handleSubmit(event, method) {
    event.preventDefault();
    const form = event.target;
    const formData = new FormData(form);

    for (let pair of formData.entries()) {
    console.log(pair[0] + ', ' + pair[1]);
    }

    fetch(apiUrl, {
      method: method,
      body: formData
    })
    .then(response => {
      if (!response.ok) {
        return response.json().then(data => {
          throw new Error(data.error || 'Ошибка при обработке запроса.');
        });
      }
      return response.json(); 
    })
    .then(data => {
      console.log('Success:', data);
      location.reload(); 
    })
    .catch(error => {
      alert(error); 
    });
  }

  addConfigForm.addEventListener('submit', (event) => handleSubmit(event, 'POST'));
  deleteConfigForm.addEventListener('submit', (event) => handleSubmit(event, 'DELETE'));
  updateConfigForm.addEventListener('submit', (event) => handleSubmit(event, 'PUT'));
  // Активная вкладка по умолчанию
  const tabs = document.querySelectorAll('nav a');
    const contents = document.querySelectorAll('section');

    tabs.forEach(tab => {
        tab.addEventListener('click', (event) => {
            // Удаляем активный класс со всех вкладок
            tabs.forEach(t => t.classList.remove('active'));
            tab.classList.add('active');
            
            // Если вкладка не активна (для конфигураций и групп), переходим по ссылке
            if (!tab.classList.contains('active')) {
                return; // переход по ссылке
            }
            // Если вкладка "Пользователи", показываем контент
            contents.forEach(content => content.classList.add('hidden'));
            document.getElementById(tab.id.replace('-tab', '-content')).classList.remove('hidden');
            event.preventDefault(); // предотвратить стандартное поведение, если нужно
        });
    });

</script>

</body>
</html>

